/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f7f9fc;
  color: #000000e3;
}

/* NAVEGAÇÃO */
.navbar {
  background-color: #197A63;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.navbar a.active {
  color: #ffffff;
  background-color: #14594B;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  transition: 0.3s;
}

.logo-simples {
  height: 100px;
  margin-right: 0.1rem;
  vertical-align: middle;
}

/* BLOCO 1 - INÍCIO */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 27%;
 background-image: linear-gradient(#197A63, #ffebc2);
}
  
.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px #ffebc2;
  color: white;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}

.logo-full img {
  width: 480px;
  height: 480px;
}

/* DESTAQUES */
.highlight-section {
  background-color: #ffebc2;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cards-container {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  max-width: 900px;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  color: #d3d3d3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: 0.3s;
}

.arrow:hover {
  color: #197A63;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.card {
  width: 250px;
  min-height: 160px;
  padding: 1rem;
  background-color: #f5f5f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(104, 101, 101, 0.322);
  flex-shrink: 0;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.card-btn {
  margin-top: 0.5rem;
  padding: 0.6rem 1rem;
  background-color: #197A63;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-btn:hover {
  background-color: #22b5d1;
}

/* FORMULÁRIO GERAL */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}


.form-section {
  background-image: linear-gradient(#ffebc2, #ffffff);
  padding: 4rem 15%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  gap: 1rem;
}

form input, form select, form textarea {
  padding: 1rem;
  border: 2px solid #197A63;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}

form button {
  background-color: #14594B;
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #22b5d1;
}

/* BLOCO EXTRA PARA CONTATO */
.contato-info {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 2rem auto;
}

.contato-info h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.contato-info p {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

/* SEÇÃO SOBRE */
.sobre-section {
  padding: 4rem 15%;
  background-image: linear-gradient(#197A63, #ffebc2);
  color: #222;
  line-height: 1.8;
  text-align: left; /* <-- alinhamento à esquerda */
}

.sobre-section h1,
.sobre-section h2,
.sobre-section h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.sobre-section p,
.sobre-section ul {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.sobre-section ul {
  list-style: disc;
  padding-left: 2rem;
}

/* LINKS */
a {
  color: #197A63;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

.form-section textarea {
  resize: vertical;
}

.navbar a:hover {
  background-color: #ffffff20; /* leve fundo branco transparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra ao redor */
  border-radius: 5px;
  transition: all 0.3s ease;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f7f9fc;
  color: #000000e3;
}

/* NAVEGAÇÃO */
.navbar {
  background-color: #197A63;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.navbar a.active {
  color: #ffffff;
  background-color: #14594B;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  transition: 0.3s;
}

.logo-simples {
  height: 100px;
  margin-right: 0.1rem;
  vertical-align: middle;
}

/* BLOCO 1 - INÍCIO */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 27%;
 background-image: linear-gradient(#197A63, #ffebc2);
}
  
.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px #ffebc2;
  color: white;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}

.logo-full img {
  width: 480px;
  height: 480px;
}

/* DESTAQUES */
.highlight-section {
  background-color: #ffebc2;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cards-container {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  max-width: 900px;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  color: #d3d3d3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: 0.3s;
}

.arrow:hover {
  color: #197A63;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.card {
  width: 250px;
  min-height: 160px;
  padding: 1rem;
  background-color: #f5f5f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(104, 101, 101, 0.322);
  flex-shrink: 0;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.card-btn {
  margin-top: 0.5rem;
  padding: 0.6rem 1rem;
  background-color: #197A63;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-btn:hover {
  background-color: #22b5d1;
}

/* FORMULÁRIO GERAL */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}


.form-section {
  background-image: linear-gradient(#ffebc2, #ffffff);
  padding: 4rem 15%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  gap: 1rem;
}

form input, form select, form textarea {
  padding: 1rem;
  border: 2px solid #197A63;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}

form button {
  background-color: #14594B;
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #22b5d1;
}

/* BLOCO EXTRA PARA CONTATO */
.contato-info {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 2rem auto;
}

.contato-info h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.contato-info p {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

/* SEÇÃO SOBRE */
.sobre-section {
  padding: 4rem 15%;
  background-image: linear-gradient(#197A63, #ffebc2);
  color: #222;
  line-height: 1.8;
  text-align: left; /* <-- alinhamento à esquerda */
}

.sobre-section h1,
.sobre-section h2,
.sobre-section h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.sobre-section p,
.sobre-section ul {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.sobre-section ul {
  list-style: disc;
  padding-left: 2rem;
}

/* LINKS */
a {
  color: #197A63;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

.form-section textarea {
  resize: vertical;
}

.navbar a:hover {
  background-color: #ffffff20; /* leve fundo branco transparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra ao redor */
  border-radius: 5px;
  transition: all 0.3s ease;
}

.site-footer {
    text-align: center;
    padding: 20px;
    background-color: #14594B;
    color: #fff;
    font-size: 14px;
    margin-top: 40px;
  }

  .form-section label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
  }

  .form-section input[type="file"] {
    margin-bottom: 15px;
  }